// Заголовки, общие БЄМ блоки и проче...
.button {
	display: inline-block;
	padding: rem(20) rem(39);
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    letter-spacing: rem(0.5);
    transition: 0.3s;
	@media (any-hover: hover) {
		&:hover {
            background: linear-gradient(55.95deg, #c96a66 0%, #F75E05 100%);
		}
	}
	&._fw {
		width: 100%;
	}
	&_sm {
		padding-top: rem(12.34);
		padding-bottom: rem(12.34);
	}
	&_more {
		padding: rem(20) rem(32.25);
		font-size: rem(14);
	}
	 // .button_transparent
	 &_transparent {
		border: 1px solid #FF3F3A;
		color: $redColor;
		background: transparent;
		letter-spacing: 0.5px;
		
		@media (any-hover: hover){
			&:hover{
				background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
    			color: #fff;
				-webkit-transition: background 1000ms linear;
				-ms-transition: background 1000ms linear;
				transition: background 1000ms linear;
			}
		}
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: scale(1.5);
    }
}
.title {
	font-weight: 900;
	line-height: 130%;
	@include adaptiveValue("font-size", 46, 30);
	color: $mainDarkColor;
}
.suptitle {
	font-weight: 700;
	line-height: 150%;
	text-transform: uppercase;
	letter-spacing: rem(1);
	color: $mainDarkColor;
	&:not(:last-child) {margin-bottom: em(8, 16);}
}