//====================================================================================================
.intro {
    position: relative;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content:'';
		background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
		opacity: 0.2;
		min-width: 100%;
		height: 100%;
		z-index: 1;
	}
    // .intro__container
    &__container {

    }
    // .intro__body
    &__body {
        width: 100%;
        @media (min-width:em(1005)){
            display: flex;
            justify-content: space-between;
        }

    }
    // .intro__content
    &__content {
        @media (max-width: em(1005)){
            text-align: center;
        }
    }
    // .intro__play
    &__play {

    }
    // .intro__title
    &__title {
        font-weight: 900;
        line-height: 130%;
        @include adaptiveValue("font-size", 64, 40);
        letter-spacing: 1px;
        color: $mainDarkColor;
        &:not(:last-child) {
            @include adaptiveValue("padding-bottom", 60, 30);
        }
        @media (min-width:em(1005)){
            max-width: rem(496);
        }
    }
    // .intro__block
    &__block {
        display: flex;
        gap: rem(24);
        position: relative;
        z-index: 2;
        @media (max-width: em(1005)){
            justify-content: center;
        }
        @media (max-width:$mobileSmall){
            flex-direction: column;
            gap: rem(15);
        }
    }
    // .intro__button
    &__button {

    }
    // .intro__image
    &__image {
        @media (max-width: em(1005)){
            @include adaptiveValue("padding-top", 30, 15);
            text-align: center;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
.play {
    padding-bottom: rem(47);
    display: flex;
    align-items: center;
    // .play__bg
    &__bg {
        position: absolute;
        width: rem(52);
        height: rem(52);
        border-radius: 50%;
        animation: pulse 1.2s ease infinite;
        background: #FF3F3A;
    }
    // .play__circle
    &__circle {
        position: absolute;
        width: rem(52);
        height: rem(52);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background: #FF3F3A;
        background-size: rem(18);
        cursor: pointer;
        outline: none;
        background-image: url('../img/icons/play-tr.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
    // .play__text
    &__text {
        align-items: center;
        font-weight: 700;
        color: $mainDarkColor;
        line-height: 150%;
        margin-left: 4.7rem;
    }
        // .intro__bottom

        &__bottom {
        }
}

.bottom-intro {
    @include adaptiveValue("padding-top", 180, 70);
    @include adaptiveValue("padding-bottom", 90, 40);
    // .bottom-intro__body
    &__body {
        display: flex;
        flex-wrap: wrap;
        gap: rem(15);
        @media (max-width: em(576)){
            justify-content: center;
        }
    }
    // .bottom-intro__item
    &__item {
        display: flex;
        align-items: center;
        gap: rem(12);
        @media (min-width:$mobile){
            flex: 1 1 auto;
        }
    }
    // .bottom-intro__num
    &__num {
        font-weight: 900;
        font-size: rem(46);
        line-height: 130%;
        color: $mainDarkColor;
    }
    // .bottom-intro__text
    &__text {
        font-weight: 400;
        font-size: rem(16);
        line-height: 160%;
        color: $mainDarkColor;
    }
    // .bottom-intro__circle
    &__circle {
        width: rem(8);
        height: rem(8);
        background: #FF3F3A;
        border-radius: 50%;
    }
        // .intro__icons

        &__icons {
        }
}
.icons-intro {

    // .icons-intro_1
    &_1 {
        position: absolute;
        z-index: 3;
        top: 0;
        right: percent(148, 1920);
        @media (max-width:$tablet){
            opacity: 0.5;
        }
    }
    // .icons-intro_2
    &_2 {
        position: absolute;
        z-index: 3;
        top: percent(190, 1080);
        left: percent(82, 1920);
        @media (max-width:$tablet){
            opacity: 0.5;
        }
    }
    // .icons-intro_3
    &_3 {
        position: absolute;
        top: percent(507, 1080);
        left: percent(804, 1920);
        z-index: 3;
        @media (max-width:$tablet){
            opacity: 0.5;
        }
    }
    // .icons-intro_4
    &_4 {
        position: absolute;
        top: percent(672, 1000);
        left: percent(759, 1920);
        z-index: 3;
        @media (max-width:$tablet){
            opacity: 0.5;
        }
    }
    // .icons-intro_5
    &_5 {
        position: absolute;
        top: percent(785, 1080);
        right: 0;
        z-index: 3;
        @media (max-width:$tablet){
            opacity: 0.5;
        }
    }
    // .icons-intro_6
    &_6 {
        position: absolute;
        top: percent(825, 975);
        left: -5%;
        z-index: 3;
        @media (max-width:$tablet){
            opacity: 0.5;
        }
    }
}

.why {
    position: relative;
    // .why__conrainer
    &__conrainer {
    }
    // .why__body
    &__body {
        display: flex;
        flex-direction: column-reverse;
        gap: rem(30);
        @media (min-width:$tablet){
            justify-content: space-between;
            gap: rem(45);
            flex-direction: row;
        }
    }
    // .why__image
    &__image {
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
    }
    // .why__content
    &__content {
        @media (min-width:$tablet){
            flex: 0 0 rem(390); 
        }
    }
    // .why__suptitle
    &__suptitle {

    }
    // .why__title
    &__title {
        &:not(:last-child) {margin-bottom: em(40, 46);}
    }
    // .why__list
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(12);
        @include adaptiveValue("padding-bottom", 40, 25);
    }
    // .why__item
    &__item {
        display: flex;
        line-height: 160%;
        column-gap: rem(16);
        @include adaptiveValue("font-size", 16, 14);
    }
    &__icon {
        transform: translateY(9%);
        &::before{
            color: $redColor;
        }
    }
    &__button {
        @media (max-width:$mobileSmall){
            width: 100%; 
        }
    }
		// .why__icons
		&__icons {
			// .why__icons_1

			&_1 {
                position: absolute;
                top: percent(247, 740);
                left: -5.7%;
                @media (max-width:$tablet){
                    opacity: 0.5;
                }
			}

			// .why__icons_2

			&_2 {
                position: absolute;
                right: -8%; 
                top: percent(440, 740);
                @media (max-width:$tablet){
                    opacity: 0.5;
                }
			}
		}
}

.courses {
    // .courses__container
    &__container {
    }
    // .courses__body
    &__body {
    }
    // .courses__top
    &__top {
        display: flex;
        justify-content: space-between;
        @media (max-width: em(550)){
            flex-direction: column;
            text-align: center;
            row-gap: rem(25);
        }
    }
    // .courses__suptitle
    &__suptitle {
    }
    // .courses__title
    &__title {
    }
    // .courses__button
    &__button {
        height: rem(52);
        padding: rem(17) rem(39);
        @media (min-width: em(550)){
            align-self: flex-end;       
        }
    }
    // .course__card
    &__card {

    }
}
.card-course {
    @include adaptiveValue("padding-top", 60, 40);
    display: grid;
    gap: rem(30);
    @media (min-width:em(650)){
        grid-template-columns: repeat(auto-fit, minmax(rem(600), 1fr));
    }
    // .card-course__item
    &__item {
        display: flex;
        gap: rem(32);
        background: #FFFFFF;
        border: 1px solid #E5E8ED;
        box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
        border-radius: 4px;
        transition: all 0.3s ease 0s;
        @media (max-width:em(650)){
            flex-direction: column;
            text-align: center;
            padding-bottom: rem(25);
        }
        @media (any-hover: hover){
            &:hover{
                box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
            }
        }
    }
    // .card-course__image
    &__image {
        img {
            @media (max-width: em(650)){
                width: 100%;
            }
        }
    }
    // .card-course__content
    &__content {
        @media (min-width:em(650)){
            padding-top: rem(33);
        }
    }
    // .card-course__button
    &__button {
        border-radius: 4px;
        padding: rem(1) rem(8);
        line-height: 150%;
        font-size: rem(14);
        color: #fff;
        &:not(:last-child) {margin-bottom: rem(20);}
    }
    // .card-course__title
    &__title {
        font-weight: 700;
        line-height: 150%;
        font-size: rem(20);
        color: $mainDarkColor;
        &:not(:last-child) {margin-bottom: em(20, 20);}
    }
    // .card-course__info
    &__info {
        display: flex;
        align-items: center;
        gap: rem(8);
        @media (max-width: em(650)){
            justify-content: center;
        }
    }
    // .card-course__price
    &__price {
        color: #FF4242;
        font-size: rem(18);
        font-weight: 700;
        line-height: 150%;
    }
    // .card-course__name
    &__name {
        font-size: rem(18);
        &::before{
            content: '';
            border-left: 1px solid $mainColor; 
            padding-right: rem(8);      
        }
    }
}

.benefits {

    // .benefits__container

    &__container {
    }

    // .benefits__body

    &__body {
    }

    // .benefits__top

    &__top {
        text-align: center;
    }

    // .benefits__suptitle

    &__suptitle {
    }

    // .benefits__title

    &__title {
    }

    // .benefits__tabs

    &__tabs {
    }
}

.events {
    position: relative;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content:'';
		background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
		opacity: 0.2;
		min-width: 100%;
		height: 100%;
		z-index: 1;
	}
    // .events__container

    &__container {
    }

    // .events__body

    &__body {
        @include adaptiveValue("padding-top", 80, 45);
    }

    // .events__top

    &__top {
        text-align: center;
    }

    // .events__suptitle

    &__suptitle {
    }

    // .events__title

    &__title {
    }

    // .events__list

    &__list {
        @include adaptiveValue("padding-top", 60, 40);
    }

    // .events__more

    &__more {
        @include adaptiveValue("padding-top", 65, 30);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(40);
        position: relative;
        z-index: 1;
        @media (max-width:$mobile){
            flex-direction: column;
            gap: rem(15);
        }
    }

    // .events__text

    &__text {
        font-size: rem(28);
        line-height: 150%;
        color: $mainDarkColor;
        font-weight: 700;
    }

    // .events__button

    &__button {
        @media (max-width:$mobileSmall){
            width: 100%; 
            text-align: center;
        }
    }
        // .events__icons

        &__icons {
            // .events__icons_5
    
            &_1 {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 3;
                @media (max-width:$tablet){
                    opacity: 0.5;
                }
            }
    
            // .events__icons_6
    
            &_2 {
                position: absolute;
                top: -14%;
                right: -3.5%;
                z-index: 3;
                @media (max-width:$tablet){
                    opacity: 0.5;
                }
            }
        }
}


.list-events {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
    flex-wrap: wrap;
    // .list-events__item

    &__item {
        background: #FFFFFF;
        border-radius: rem(4);
        padding: rem(32) rem(40);
        transition: box-shadow 0.8s ease 0s;
        align-items: center;
        @media (any-hover: hover){
            &:hover{
                box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
            }
        }
        @media (min-width:$tablet){
            display: grid;
            grid-template-columns: rem(57) rem(150) 1fr rem(136);
        }
    }

    // .list-events__num

    &__num {
        color: $redColor;
        font-weight: 900;
        line-height: 130%;
        font-size: rem(48);
        letter-spacing: rem(1);
    }

    // .list-events__date

    &__date {
        @media (min-width:$tablet){
            margin-left: rem(20); 
        }
    }

    // .list-events__months

    &__months {
        font-weight: 700;
        font-size: rem(20);
        line-height: 150%;
        color: $mainDarkColor;
    }

    // .list-events__hour

    &__hour {
        line-height: 160%;
        color: #787A80;
    }

    // .list-events__info

    &__info {
        margin-right: rem(40);
    }

    // .list-events__title

    &__title {
        font-weight: 700;
        line-height: 150%;
        color: $mainDarkColor;
        @include adaptiveValue("font-size", 20, 14);
    }

    // .list-events__text

    &__text {
        line-height: 160%;
        color: #787A80;
        @include adaptiveValue("font-size", 16, 14);
    }

    // .list-events__button

    &__button {
        width: rem(136);
        height: rem(44);
        padding: rem(0) rem(0) rem(0) rem(0);
        justify-content: center;
        align-items: center;
        display: flex;
        @media (max-width:$tablet){
            width: 100%;
            margin-top: rem(20);
        }
    }
}









//====================================================================================================
